<br>
<div class="container">
  <div class=" mt-5  pb-5 pt-3 border border-dark " >

  <img src="https://i.blogs.es/de368e/dota-2-wallpaper/450_1000.jpg" class="rounded float-left pl-4" alt="">

    <div class="pl-5">
    <h1 class="text-center">Name Post</h1>
    <br>
    <br>
    <h2 class="text-center" >Votes: 0000</h2>
    <br>
    <a class="btn btn-primary btn-lg float-right ml-2" href="#" role="button">Read more</a>
    <br>
    <br>
</div>
</div>
</div>
<br>
<br>




<div class="container">
  <h3>Blogs Recientes</h3>
  <br>
  <br>
  <div class="row">
    <div class="col-9">
<hr>
  <div class="media">
    <img src="//upload.wikimedia.org/wikipedia/en/thumb/e/e3/Date_A_Live_Volume_1.jpg/220px-Date_A_Live_Volume_1.jpg" class="align-self-center mr-3" width="16%" height="120">
    <div class="media-body">
    <h5 class="mt-0"> <a href="#"> NAMEPOST </a> </h5>
    <span class="badge badge-primary">Categoria</span>
    <span class="badge badge-secondary">Anime</span>
    <span class="badge badge-info">Votes</span>
    <span class="badge badge-success">0000</span>
    <br>

    <p><%=  truncate('hola de railsadfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdadfasdfadfasdfasdfasdffasdf', :length =>80 ) %></p>
    <a href="#" class="btn btn-warning btn-sm"> Read More</a>
    </div>
  </div>
  <hr>

  <div class="media">
    <img src="//upload.wikimedia.org/wikipedia/en/thumb/e/e3/Date_A_Live_Volume_1.jpg/220px-Date_A_Live_Volume_1.jpg" class="align-self-center mr-3" width="16%" height="120">
    <div class="media-body">
    <h5 class="mt-0"> <a href="#"> NAMEPOST </a> </h5>
    <span class="badge badge-primary">Categoria</span>
    <span class="badge badge-secondary">Anime</span>
    <span class="badge badge-info">Votes</span>
    <span class="badge badge-success">0000</span>
    <br>

    <p><%=  truncate('hola de railsadfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdadfasdfadfasdfasdfasdffasdf', :length =>80 ) %></p>
    <a href="#" class="btn btn-warning btn-sm"> Read More</a>
    </div>
  </div>


    </div>
    <div class="3">

    </div>
  </div>

</div>
